<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>{% block title %}Pi Photoscope{% endblock %}</title>
        {% load static %}
		<link rel="icon" type="image/png" href="{% static "images/favicon.png" %}"/>
		
		<script src="{% static "js/jquery-2.1.4.min.js" %}"></script>
		
		<link rel="stylesheet" href="{% static "css/pure-min.css" %}">
		<link rel="stylesheet" href="{% static "css/main.css" %}">
	</head>
	<body>
		<header>
			<h1>{% block title_page %}Pi Photoscope{% endblock %}</h1>
			<nav class="pure-menu pure-menu-horizontal">
				<a href="/" class="pure-menu-heading pure-menu-link">Pi Photoscope</a>
				<ul class="pure-menu-list">
						<li class="pure-menu-item"><a href="{% url 'take' %}" class="pure-menu-link">Take Photos</a></li>
						<li class="pure-menu-item"><a href="{% url 'view' %}" class="pure-menu-link">View Photos</a></li>
				</ul>
			</nav>
		</header>
		<div id="content">
			
		
		{% block content%}
		{% endblock %}
		</div>
		<footer>
		</footer>
	</body>
</html>