{% extends "pi_photoscope/base.html" %}

{% block title %}Take Photos{% endblock %}
{% block title_page %}Take Photos{% endblock %}

{% block content %}

<div class="pure-g">
	<form class="pure-form pure-form-aligned" method="post">
		{% csrf_token %}
			<fieldset>
					<div class="pure-u-1-3">
						<div class="pure-control-group">
								<label for="name">Set Name</label>
								<input id="name" type="text" name="name" placeholder="Set Name" value="{{photo_parameters.name}}" />
						</div>
					</div>
					
					<div class="pure-u-2-3">
						<img style="width:50em;max-height:50em;position:absolute;" src="data:image/jpeg;base64,{{preview_img}}" />
					</div>

					
					<div class="pure-u-1-3">
						<div class="pure-control-group">
								<label for="iso">ISO</label>
								<select name="iso" id="iso" required/>
									<option {% if photo_parameters.iso == 100 %} selected {% endif %}>100</option>
									<option {% if photo_parameters.iso == 200 %} selected {% endif %}>200</option>
									<option {% if photo_parameters.iso == 320 %} selected {% endif %}>320</option>
									<option {% if photo_parameters.iso == 400 %} selected {% endif %}>400</option>
									<option {% if photo_parameters.iso == 500 %} selected {% endif %}>500</option>
									<option {% if photo_parameters.iso == 640 %} selected {% endif %}>640</option>
									<option {% if photo_parameters.iso == 800 %} selected {% endif %}>800</option>
								</select>
						</div>
					</div>
					
					<div class="pure-u-2-3">
					</div>
					
					<div class="pure-u-1-3">
						<div class="pure-control-group">
								<label for="ss_long">Shutter Speed (Long)</label>
								<input id="ss_long" name="ss_long" type="number" min="1" max="10" step="0.2"
									   value="{% if photo_parameters.shutter_speed >= 1 %}{{photo_parameters.shutter_speed}}{% endif %}" /> s
								<input name="ss" value="long" type="radio" required {% if photo_parameters.shutter_speed >= 1 %} checked {% endif %}/>
						</div>
					</div>
					
					<div class="pure-u-2-3">
					</div>
					
					<div class="pure-u-1-3">
						<div class="pure-control-group">
								<label for="ss_short">Shutter Speed (Short)</label>
								1/ <input id="ss_short" name="ss_short" type="number" min="1" max="2000" step="1"
								value="{% if photo_parameters.shutter_speed < 1 %}{{photo_parameters.shutter_speed_inverse}}{% endif %}" />
								<input name="ss" value="short" type="radio" required {% if photo_parameters.shutter_speed < 1 %} checked {% endif %}/>
						</div>
					</div>
					
					<div class="pure-u-2-3">
					</div>
					
					<div class="pure-u-1-3">
						<div class="pure-control-group">
								<label for="time_between">Time between Shots</label>
								<input id="time_between" name="time_between" type="number" required min="0" step="0.1" required value="{{photo_parameters.time_between|default:'0'}}"/>
						</div>
					</div>
					
					<div class="pure-u-2-3">
					</div>
					
					<div class="pure-u-1-3">
						<div class="pure-control-group">
								<label for="num_to_take">Number to Take</label>
								<input id="num_to_take" name="num_to_take" type="number" min="1" step="1" required value="{{photo_parameters.num_to_take|default:'1'}}"/>
						</div>
					</div>
					
					<div class="pure-u-2-3">
					</div>
					
					<div class="pure-u-1-3">
						<div class="pure-controls">
								<button type="submit" class="pure-button pure-button-primary" name="submit_btn" value="go" >Go</button>
								<button type="submit" class="pure-button pure-button-primary" name="submit_btn" value="preview" >Preview</button>
						</div>
					</div>
					
					<div class="pure-u-2-3">
					</div>
					
			</fieldset>
	</form>
</div>

{% endblock %}