body {
	background-color: darkred;
	color: Silver;
}

nav {
	background-color: DarkSlateGray;
	padding-left:5em;
}

header h1 {
	padding-top:1em;
	text-align:center;
	
}

.pure-menu-link {
	color: lightgray;
}

.pure-menu-link:hover {
	background-color:grey;
}

.pure-button-primary {
	background-color: DarkSlateBlue;
	color: lightgray;
}

.download_zip{
	background-color:darkblue;
	color:white;
}

.delete {
	background-color:darkgreen;
	color:white;
}

.pure-form input, .pure-form select {
	background-color:lightgray;
	color: black;
}

#content {
		margin:2.5em;
		width:70%;
		left:15%;
		position:relative;
}